aclocal.m4
autom4te.cache
ChangeLog
config.guess
config.h.in
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
.remake
remake
Remakefile
stamp-config_h
stamp-config_h_in
stamp-h1
ylwrap
